---

---

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/gavriel-pr/talking-pr?text_color=171717&primary_color=7200fb&hide_event_type_details=0" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

<style>

</style>