---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
import Clients from "../components/Clients";
---

<Layout title="Our clients | Public Relations for serious tech companies | concrete.media">
    <Header />
    <section class="header">
        <h3>Client Experience</h3>
        <p class="desc-text">Our clients represent the dynamic companies you know and respect in a range of industries. We are proud to be partners in their success.</p>
    </section>
    <section class="logos">
        <Clients client:idle/>
    </section>
    <Testimonials />
    <Footer />
</Layout>

<style>
    .header {
        flex-direction: column;
        align-items: flex-start;
        max-width: 75%;
    }

    .header h3 {
        margin: 0;
    }

    .logos {
        display: flex;
        flex-direction: column;
    }

    .logos :global(.tags) {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        align-self: flex-start;
        margin: 0 calc(50% - 608px) 40px;
    }

    @media screen and (max-width: 1439px) {
        .logos :global(.tags) {
            margin: 0 calc(50% - 452px) 40px;
        }
	}

    @media screen and (max-width: 1127px) {
        .logos :global(.tags) {
            margin: 0 calc(50% - 296px) 40px;
        }
	}

    @media screen and (max-width: 1049px) {
        .logos :global(.tags) {
            margin: 0 calc(50% - 452px) 40px;
        }
	}

    @media screen and (max-width: 935px) {
        .logos :global(.tags) {
            margin: 0 max(calc(50% - 296px), 0px) 40px;
        }
	}

    @media screen and (max-width: 623px) {
        .logos :global(.tags) {
            justify-content: center;
        }
	}



    .logos :global(.tag) {
        padding: 16px 24px;
        border-radius: 16px;
        border: none;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 13px;
        color: #7022FB;
        background: #F8FAFC;
        cursor: pointer;
    }

    .logos :global(.tag.active) {
        background: rgba(112, 34, 251, 0.2);
    }

    .logos :global(.logo) {
        max-height: 92px;
        max-width: 184px;
    }

    .logos :global(.logos-wrapper) {
        display: flex;
        gap: 36px 32px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos :global(a) {
        width: 280px;
        height: 140px;
        background: #F8FAFC;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    @media screen and (max-width: 1050px) {
        .header {
            max-width: 90%;
        }
	}

</style>