---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
import qm from '../assets/client-logos/QM.png';
import buildots from '../assets/client-logos/Buildots.webp';
import ox from '../assets/client-logos/Ox.png';
import pinecone from '../assets/client-logos/Pinecone.svg';
import runai from '../assets/client-logos/Runai.svg';
import wilco from '../assets/client-logos/Wilco.png';
import aporia from '../assets/client-logos/Aporia.svg';
import cipia from '../assets/client-logos/Cipia.png';
import spectral from '../assets/client-logos/Spectral.svg';
import imperium from '../assets/client-logos/Imperium Jets.png';
import armo from '../assets/client-logos/Armo.png';
import port from '../assets/client-logos/Port.svg';
import aidoc from '../assets/client-logos/Aidoc.png';
import scopio from '../assets/client-logos/Scopio.png';
import lumigo from '../assets/client-logos/Lumigo.svg';
import privya from '../assets/client-logos/Privya.svg';
import arnica from '../assets/client-logos/Arnica.webp';
import rookout from '../assets/client-logos/Rookout.png';
import sayata from '../assets/client-logos/Sayata.png';
import imperva from '../assets/client-logos/Imperva.png';
import swimm from '../assets/client-logos/Swimm.svg';
import explorium from '../assets/client-logos/Explorium.svg';
import jit from '../assets/client-logos/Jit.svg';
import tatio from '../assets/client-logos/Tatio.png';
import safeguard from '../assets/client-logos/Safeguard.png';
import masterschool from '../assets/client-logos/Masterschool.webp';
import frontegg from '../assets/client-logos/Frontegg.svg';
import nexar from '../assets/client-logos/Nexar.png';
import storai from '../assets/client-logos/Storai.png';
import datree from '../assets/client-logos/Datree.png';

const clients = [
    {logo: qm, name: "qm", site: 'https://www.quantum-machines.co/'},
    {logo: ox, name: "ox", site: 'https://www.ox.security/'},
    {logo: aidoc, name: "aidoc", site: 'https://www.aidoc.com/'},
    {logo: runai, name: "runai", site: 'https://www.run.ai/'},
    {logo: pinecone, name: "pinecone", site: 'https://www.pinecone.io/'},
    {logo: aporia, name: "aporia", site: 'https://www.aporia.com/'},
    {logo: buildots, name: "buildots", site: 'https://buildots.com/'},
    {logo: cipia, name: "cipia", site: 'https://cipia.com/'},
    {logo: armo, name: "armo", site: 'https://www.armosec.io/'},
    {logo: wilco, name: "wilco", site: 'https://www.trywilco.com/'},
    {logo: scopio, name: "scopio", site: 'https://scopiolabs.com/'},
    {logo: lumigo, name: "lumigo", site: 'https://www.lumigo.io/'},
    {logo: privya, name: "privya", site: 'https://privya.ai/'},
    {logo: arnica, name: "arnica", site: 'https://www.arnica.io/'},
    {logo: rookout, name: "rookout", site: 'https://www.rookout.com/'},
    {logo: sayata, name: "sayata", site: 'https://www.sayatalabs.com/'},
    {logo: imperva, name: "imperva", site: 'https://www.imperva.com/'},
    {logo: swimm, name: "swimm", site: 'https://swimm.io/'},
    {logo: explorium, name: "explorium", site: 'https://www.explorium.ai/'},
    {logo: jit, name: "jit", site: 'https://www.jit.io/'},
    {logo: tatio, name: "tatio", site: 'https://www.tatio.io/'},
    {logo: port, name: "port", site: 'https://www.getport.io/'},
    {logo: safeguard, name: "safeguard", site: 'https://en.safeguard.co.il/'},
    {logo: masterschool, name: "masterschool", site: 'https://www.masterschool.com/'},
    {logo: frontegg, name: "frontegg", site: 'https://frontegg.com/'},
    {logo: nexar, name: "nexar", site: 'https://www.getnexar.com/'},
    {logo: storai, name: "storai", site: 'https://stor.ai/'},
    {logo: datree, name: "datree", site: 'https://www.datree.io/'},
    {logo: spectral, name: "spectral", site: 'https://spectralops.io/'},
    {logo: imperium, name: "imperium", site: 'https://www.imperiumjets.com/'},
    // {logo: , site: 'https://www.voominsurance.com/'},
    // {logo: , site: 'https://www.dia-analysis.com/'},
    // {logo: , site: 'https://www.salto.io/'},
    // {logo: , site: 'https://www.cybermdx.com/'},
    // {logo: , site: 'https://www.animaapp.com/'},
    // {logo: , site: 'https://www.ubeya.com/'},
    // {logo: , site: 'https://www.stoke.world/'},
    // {logo: , site: 'https://www.thoughtleaders.io/'},
    // {logo: , site: 'https://www.puresec.io/'},
    // {logo: , site: 'https://puls.com/'},
    // {logo: , site: 'https://www.xtype.io/'},
    // {logo: , site: 'https://www.dbmaestro.com/'},
    // {logo: , site: 'https://www.dig.security/'},
    // {logo: , site: 'https://craft.io/'},
    // {logo: , site: 'https://lightrun.com/'},
    // {logo: , site: 'https://oz-code.com/'},
    // {logo: , site: 'https://www.medminder.com/'}
    // {logo: , site: 'https://brightsec.com/'},
];
---

<Layout title="Our clients | Public Relations for serious tech companies | concrete.media">
    <Header />
    <section class="header">
        <h3>Client Experience</h3>
        <p class="desc-text">Our clients represent the dynamic companies you know and respect in a range of industries. We are proud to be partners in their success.</p>
    </section>
    <section class="logos">
        {clients.map(({logo, site, name}) => <a href={site} target="_blank"><img class="logo" src={logo} alt={`${name} logo`}></a>)}
    </section>
    <Testimonials />
    <Footer />
</Layout>

<style>
    .header {
        flex-direction: column;
        align-items: flex-start;
        max-width: 75%;
    }

    .header h3 {
        margin: 0;
    }

    .logo {
        max-height: 92px;
        max-width: 184px;
    }

    .logos {
        display: flex;
        gap: 36px 32px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos a {
        width: 280px;
        height: 140px;
        background: #F8FAFC;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    @media screen and (max-width: 1050px) {
        .header {
            max-width: 90%;
        }
	}

</style>