---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Coming soon | concrete.media">
    <div>
        <img class="hero-logo" src="/concrete-media.svg" />
        <h2>coming soon.</h2>
    </div>
</Layout>

<style>
    div {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #7022FB;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        width: 90vw;
    }
</style>