---
import PageLayout from "../layouts/PageLayout.astro";
import Results from "../components/results";
---

<PageLayout
    pageTitle="Media results | Public Relations for serious tech companies | Concrete Media"
    title="Media Results"
    subTitle="We identify the publications that will bring the greatest value to your company, and leverage our expertise and contacts to ensure you feature in them regularly. <br>These are some of the <b>recent</b> and <b>impactful</b> media items we've arranged in top business, tech, mainstream and industry publications."
>
    <section class="results">
        <Results client:idle/>
    </section>
</PageLayout>

<style>
    .results {
        display: flex;
        flex-direction: column;
    }
</style>