---
import PageLayout from "../layouts/PageLayout.astro";
import lazer from "../assets/team/Lazer.jpg";
import zack from "../assets/team/Zack.jpg";
import kevin from "../assets/team/Kevin.jpg";
import gavriel from "../assets/team/Gavriel.jpg";
import ali from "../assets/team/Ali.jpg";
import daphne from "../assets/team/Daphne.jpg";
import julia from "../assets/team/Julia.jpeg";
import tamara from "../assets/team/tamara.jpg";
import chaya from "../assets/team/Chaya.jpg";
import TeamCard from "../components/TeamCard.astro";

const team = [
    {
        name: 'Lazer Cohen',
        title: 'Founder and CEO',
        bio: 'Lazer is the CEO of Concrete Media which he founded in 2014. Originally from Brooklyn, New York, his entry into PR is worthy of a feature story of its own. He co-founded a PR firm in New York in 2009 before moving with his wife to Israel and starting Concrete. He believes a good PR pro is a reporter’s best asset and his decade-long relationships with some of the top tech reporters attest to that belief. Lazer and his wife have four children — who are much more interested in their mom’s floral design business than whatever it is their dad does on the computer.',
        image: lazer,
        linkedin: 'https://www.linkedin.com/in/lazercohen/',
        twitter: 'https://twitter.com/Lazer_Cohen'
    },
    {
        name: 'Gavriel Cohen',
        title: 'Vice President',
        bio: 'Gavriel is Vice President of Concrete Media. Originally from New York City, he did a year and half voluntary service in the IDF as a combat soldier in 2009, before emigrating to Israel in 2013. He studied at Tel Aviv University, where he earned a BSc with honors in Computer Science and Physics. He worked as a Software Developer and Team Leader at Wix for 6 years. With a keen interest in the intersection between Tech and Media, he closely follows trends in Machine Learning, CyberSecurity and Software Development.',
        image: gavriel,
        linkedin: 'https://www.linkedin.com/in/gavrielco/',
        twitter: 'https://twitter.com/Gavriel_Cohen'
    },
    {
        name: 'Kevin Capon Goldszmidt',
        title: 'Head of Madrid Office',
        bio: 'Kevin is the Head of Concrete Media\'s Madrid office. Originally from Mexico City, he emigrated to Israel in 2012 and earned his BA in Psychology at IDC Herzliya. A huge football and gaming fan, he is also passionate about learning about new technologies and the latest developments in areas like AI, Cybersecurity, and software development. “In PR you will always keep learning, and at Concrete you work surrounded by the brightest minds in Israel and probably the world, so there is no better place to learn”.',
        image: kevin,
        linkedin: 'https://www.linkedin.com/in/kcgoldszmidt/',
        twitter: 'https://twitter.com/KCGoldszmidt'
    },
    {
        name: 'Ali Goldberg',
        title: 'Account Executive',
        bio: 'Ali is an Account Executive at Concrete Media. She graduated with honors in Political Science & Journalism from San Diego State University. Her curious personality drove her to Israel, where she taught children English and was enamored by Tel Aviv\'s startup culture. Ali began blogging and managing clients\' social media, which led her to a marketing job at a hardware manufacturer. She fell in love with the pursuit of knowledge and finding an interesting angle for every story.',
        image: ali,
        linkedin: 'https://www.linkedin.com/in/alipgoldberg'
    },
    {
        name: 'Daphne Cavanaugh',
        title: 'New Media Manager',
        bio: 'Daphne made Aliyah from Florida in 2018 to join the IDF, where she served for two years as an International Cooperation NCO. She then received her MBA in Innovation & Entrepreneurship and her MA in Conflict Resolution & Mediation from Tel Aviv University. Daphne won several elite competitions for her innovative uses of technology within various sectors of entrepreneurship. She also served as a project manager at MINDSTATE, facilitating entrepreneurial endeavors in the MedTech sector. Daphne is an avid advocate for advancing the uses of AI and is dedicated to supporting Israeli start-ups.',
        image: daphne,
        linkedin: 'https://www.linkedin.com/in/daphnecavanaugh/'
    },
    {
        name: 'Zack Rothbart',
        title: 'Senior Strategist',
        bio: 'Zack Rothbart is Senior Strategist at Concrete Media. He previously served as international spokesman at the National Library of Israel, where he created and implemented the institution’s global media relations strategy. Zack enjoys drawing upon diverse experiences and perspectives to help clients tell their stories and maximize their potential. He reads and writes in his spare time, tries to learn something from everyone, and lives in Jerusalem with his endearing and thought-provoking family, for which he is grateful.',
        image: zack,
        linkedin: 'https://www.linkedin.com/in/zack-rothbart-37913b62/',
        twitter: 'https://twitter.com/ZackRothbart'
    },
    {
        name: 'Tamara Raynor-Cote',
        title: 'Senior Account Manager',
        bio: 'After many trips to Israel as a youth leader, volunteer, and ESL teacher, Tamara made Aliya to Beer Sheva in 2014 where she pursued a master\'s degree in Foreign Literature. After some time in the desert, she found her way to Tel Aviv and embraced the world of tech and innovation wholeheartedly. Working in PR and representing some of Israel\'s largest startups, unicorns, and emerging leaders has given Tamara amazing insight into the engine that drives the startup nation. When not at work you can find Tamara cruising the city on her bicycle looking for a good coffee.',
        image: tamara,
        linkedin: 'https://www.linkedin.com/in/tamara-raynor-cote-535346104/',
        twitter: 'https://twitter.com/RaynorTamaraPR'
    },
    {
        name: 'Chaya Gonikman',
        title: 'New Media Manager',
        bio: 'Chaya is a New Media Manager at Concrete Media. She previously served as an NCO in the international branch of the IDF Spokesperson’s Unit where she collaborated with the IDF Strategic Branch and intelligence bodies to strengthen Israel’s international image. Prior to her service, she graduated from the University of Cape Town with a Law Degree and a Bachelor of English and Media. Passionate about sharing Israeli innovation with the world, Chaya is dedicated to highlighting the game-changing technology emerging from the region.',
        image: chaya,
        linkedin: 'https://www.linkedin.com/in/chayaheron/'
    },
    {
        name: 'Julia Bocharov',
        title: 'Human Resources Manager',
        bio: 'Julia is the Human Resources manager at Concrete Media. She grew up in Ukraine and emigrated to Israel in 2012. Julia holds an MA from Tel Aviv University in English literature and American studies. With a decade of experience in senior management positions in tech, Julia is enthusiastic about collaborating with individuals and developing talent. “I’m inspired by the people at Concrete Media and proud to be a part of the Israeli tech landscape”. In her spare time she loves painting and going on bike rides in nature.',
        image: julia,
        linkedin: 'https://www.linkedin.com/in/julia-bocharov-2bb38788/'
    },
];


---

<PageLayout
    pageTitle="Our team | Public Relations for serious tech companies | concrete.media"
    title="There are six PR professionals for every reporter, so your PR firm has to be elite to get the earned media results you need to rise above the noise."
    subTitle={`Concrete Media is fluent in technology and media. Our team includes coders and journalists: we get what you're doing and know how to communicate it to reporters. We become an extension of your team, absorbing every development in your company and the industry to proactively craft stories that will get you in the news.`}
>
    <section class="team">
        {team.map((e) => <TeamCard {...e}/>)}
    </section>
</PageLayout>

<style>
    .team {
        flex-wrap: wrap;
        gap: 44px 64px;
    }


</style>