---
import linkedin from '../assets/icons/linkedin.svg';
import twitter from '../assets/icons/twitter.svg';
import facebook from '../assets/icons/facebook.svg';
---

<footer>
    <img class="footer-logo" src="/concrete-media.svg" alt="Concrete Media PR Agency logo"/>
    <h2>You’ve built something amazing. <br>We’ll help tell the world.</h2>
    <div class="footer-bottom">
        <p>©2023 Concrete Media</p>
        <a href="https://www.linkedin.com/company/concrete-media/" target="_blank"><img class='social-icon' src={linkedin} alt="linkedin logo"></a>
        <a href="https://twitter.com/WestRayPR" target="_blank"><img class='social-icon' src={twitter} alt="twitter logo"></a>
        <a href="https://www.facebook.com/WestRaycom" target="_blank"><img class='social-icon' src={facebook} alt="facebook logo"></a>
    </div>
</footer>
<style>
    footer {
		background: #7022FB;
		width: 100vw;
		padding: 70px 112px;
		color: white;
	}

	footer img {
		width: 627px;
	}

	footer h2 {
		font-size: 48px;
        margin: 32px 0 130px;
	}

	.footer-bottom {
		display: flex;
	}

	.footer-bottom p {
		margin: 0 auto 0 0;
		font-family: 'Inter';
	}

	.social-icon {
		height: 24px;
		width: 24px;
		margin-left: 16px;
	}

    @media screen and (min-width: 1800px) {
		footer {
			padding: 70px 202px;
		}
	}

    @media screen and (min-width: 1050px) and (max-width: 1400px) {
        footer h2 {
            font-size: 40px;
        }
	}

    @media screen and (max-width: 1050px) {
        footer {
            padding: 62px 24px;
        }

        footer img {
            width: 100%;
        }

        footer h2 {
            font-size: 24px;
            margin-bottom: 48px;
        }
	}
</style>