---
export interface Props {
	inline?: boolean;
	class?: string;
}

const {inline = false, class: className} = Astro.props;

---
<header class:list={[inline ? 'inline' : 'regular', className]}>
	<a href="/">{inline ? <img class="inline-logo" src="/logo.svg" /> : <img class="logo" src="/concrete-media-logo.svg" />}</a>
	<a href="/">Home</a>
	<a href="/clients">Clients</a>
	<a href="#results">Work</a>
	<a href="mailto:info@concrete.media?subject=[PR Inquiry]" target="_blank">Contact</a>
</header>
<style>
	header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100vw;
		column-gap: 24px;
		margin-bottom: auto;
		padding: 32px 112px;
	}

	header.regular {
		background: white;
		position: sticky;
		top: 0;
	}

	.inline-logo {
		height: 65px;
	}

	.logo {
		height: 36px;
	}

	a:first-of-type {
		margin-right: auto;
	}

	a {
		font-family: 'Inter';
		font-weight: 500;
		text-decoration: none;
	}

	.regular a {
		color: rgba(0, 0, 0, 0.6);
	}

	.inline a {
		color: white;
	}

	@media screen and (min-width: 1800px) {
		header {
			padding: 32px 202px;
		}
	}

	@media screen and (max-width: 1050px) {
		.inline a:not(:first-of-type, :last-of-type) {
			display: none;
		}

		.inline a:last-of-type {
			border-radius: 50px;
			padding: 8px 16px;
			border: 1.5px solid white;
			width: fit-content;
		}

		header.inline {
			padding: 0;
			width: 100%;
		}

		header.regular {
			padding: 36px 16px 30px;
        }

        header.regular a:not(:first-of-type) {
            display: none;
        }

		header.regular img {
			max-width: 70vw;
		}
	}

</style>
