---
import linkedin from '../assets/icons/linkedin.svg';
import twitter from '../assets/icons/twitter.svg';
import facebook from '../assets/icons/facebook.svg';

export interface Props {
	inline?: boolean;
	class?: string;
}

const {inline = false, class: className} = Astro.props;
const type = inline ? 'inline' : 'regular';

---
<header class:list={[type, className]}>
	<a href="/">
		<svg class="inline-logo" width="64" height="66" viewBox="0 0 64 66" fill="none" xmlns="http://www.w3.org/2000/svg" aria-labelledby="svg-title-1" role="img">
			<title id="svg-title-1">Concrete Media PR Agency logo</title>
			<path d="M21.2393 37.6136L2.42267 45.281C2.77262 46.1006 3.14949 46.9202 3.55328 47.7134L22.4776 40.0196C21.9661 39.2793 21.5623 38.4597 21.2393 37.6136Z" fill="white"/>
			<path d="M20.4048 33.0133C20.4048 32.8282 20.4048 32.6167 20.4318 32.4316H0.0269189C0.0269189 32.6167 0 32.8018 0 33.0133C0 33.9387 0.0538386 34.864 0.134597 35.7894H20.7009C20.5125 34.8905 20.4048 33.9651 20.4048 33.0133Z" fill="white"/>
			<path d="M33.7837 19.873C38.8984 19.873 43.34 22.702 45.6013 26.8529L63.7449 19.1063C58.4687 8.02827 47.0549 0.308038 33.7837 0.175842C33.676 0.175842 33.5683 0.175842 33.4337 0.175842C31.4686 0.175842 29.5304 0.360923 27.6461 0.678192V15.114L21.5354 2.31742C19.8395 2.95196 18.1974 3.71868 16.6361 4.61761L25.3041 22.702L10.6869 8.95364C9.52939 10.0112 8.4257 11.1481 7.42969 12.3643L22.2353 26.3506C24.5773 22.464 28.8575 19.873 33.7837 19.873Z" fill="white"/>
			<path d="M21.7777 27.1966L2.96115 19.5293C2.39584 20.7455 1.9113 21.9881 1.50751 23.2837L20.5664 31.0303C20.7548 29.6819 21.1855 28.3864 21.7777 27.1966Z" fill="white"/>
			<path d="M33.7837 46.1535C33.5684 46.1535 33.3261 46.1535 33.1107 46.1271V65.8242C33.2184 65.8242 33.3261 65.8242 33.4607 65.8242C33.5684 65.8242 33.6761 65.8242 33.8107 65.8242C47.0819 65.692 58.4687 57.9718 63.7718 46.8938L45.6282 39.1472C43.3401 43.3245 38.8984 46.1535 33.7837 46.1535Z" fill="white"/>
			<path d="M28.1307 44.9374L20.4048 63.2597C20.8086 63.4448 21.2393 63.6034 21.6701 63.762L29.3959 45.4397C28.9652 45.2811 28.5345 45.1225 28.1307 44.9374Z" fill="white"/>
			<path d="M23.9582 41.9497L9.55634 55.9889C10.0409 56.4648 10.5254 56.9407 11.0369 57.3902L25.4926 43.3245C24.9273 42.9015 24.4427 42.4256 23.9582 41.9497Z" fill="white"/>
		</svg>
		<img class="logo" src="/concrete-media-logo.svg" alt="Concrete PR Agency logo" />
	</a>
	<a href="/">Home</a>
	<a href="/clients">Clients</a>
	<a href="/team">Team</a>
	<a href="/results">Coverage</a>
	<a href="/join-us">Join Us</a>
	<a href="/contact">Contact</a>
	<div class='hamburger'>
		<div/>
		<div/>
		<div/>
	</div>
	<div class="social-wrapper">
        <a href="https://www.linkedin.com/company/concrete-media/" target="_blank"><img class='social-icon' src={linkedin.src} alt="linkedin logo"></a>
        <a href="https://twitter.com/WestRayPR" target="_blank"><img class='social-icon' src={twitter.src} alt="twitter logo"></a>
        <a href="https://www.facebook.com/Concrete.mediaPR" target="_blank"><img class='social-icon' src={facebook.src} alt="facebook logo"></a>
    </div>
	<button class="close-menu"><img src="/x.svg" alt="close mobile menu"/></button>
</header>
<script defer is:inline>
	document.querySelectorAll(`.hamburger`).forEach(h => h.addEventListener('click', () => {
		document.querySelector(`header.regular`).classList.add('mobile-open');
	}));

	document.querySelectorAll(`.close-menu`).forEach(h => h.addEventListener('click', () => {
		document.querySelector(`header.regular`).classList.remove('mobile-open');
	}));
</script>
<style lang="scss">
	header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100vw;
		gap: 16px 24px;
		margin-bottom: auto;
		padding: 32px 112px;

		.logo {
			display: none;
		}

		&.regular {
			background: white;
			position: sticky;
			top: 0;
			z-index: 2;

			.logo {
				display: inline;
			}

			.inline-logo {
				display: none;
			}
		}
	}

	.inline-logo {
		height: 65px;
	}

	.logo {
		height: 36px;
	}

	a:first-of-type {
		margin-right: auto;
	}

	a {
		font-family: 'Inter';
		font-weight: 500;
		text-decoration: none;
	}

	.regular a {
		color: rgba(0, 0, 0, 0.6);
	}

	.inline a {
		color: white;
	}

	.hamburger {
		display: none;
	}

	.social-wrapper {
		display: none;
	}

	.close-menu {
		display: none;
	}

	@media screen and (min-width: 1800px) {
		header {
			padding: 32px 202px;
		}
	}

	@media screen and (max-width: 1050px) {
		header {

			a:not(:first-of-type) {
				display: none;
			}

			.hamburger {
				display: flex;
				flex-direction: column;
				gap: 12px;

				div {
					height: 2px;
					width: 48px;
					background-color: #7022FB;
				}
			}

			&.inline {
				padding: 0 0 0 24px;
				width: 100%;

				.hamburger {
					gap: 16px;
					
					div {
						background-color: white;
					}
				}
			}

			&.regular {
				padding: 36px 16px 30px;

				img {
					max-width: 70vw;
				}
			}

			&.mobile-open {
				display: flex;
				background-color: #7022FB;
				height: 100vh;
				height: 100dvh;
				animation: none !important;
				flex-direction: column;
				align-items: flex-start;
				padding: 46px 40px;

				.logo {
					display: none;
				}

				.inline-logo {
					display: inline;
				}

				a {
					display: inline;
					color: white;
					font-family: 'Outfit';
					font-size: 40px;
					font-weight: 600;

					&:first-of-type {
						margin-bottom: auto;
					}
				}

				.hamburger {
					display: none;
				}

				.social-wrapper {
					display: flex;
					gap: 16px;

					.social-icon {
						height: 24px;
						width: 24px;
					}
				}

				.close-menu {
					display: inline;
					background: none;
					border: none;
					position: absolute;
					top: 60px;
					right: 40px;
				}
			}
		}
	}

</style>
