---
import TestimonialCard from "./TestimonialCard.astro";
import buildots from '../assets/client-logos/Buildots.webp';
import qm from '../assets/client-logos/QM.png';
import runai from '../assets/client-logos/Runai.svg';
// import wilco from '../assets/client-logos/Wilco.png';
import aporia from '../assets/client-logos/Aporia.svg';
import pinecone from '../assets/client-logos/Pinecone.svg';

const testimonials = [
	{
		text: 'Concrete is out there, finding media opportunities and delivering results that bring real value to us as a company. They take the initiative so we can focus our efforts elsewhere, knowing our PR is being managed at the highest level.',
		logo: buildots,
		name: 'Aviv Leibovici',
		title: 'Co-founder & CPO of Buildots'
	},
	{
		text: 'We\'ve been very pleased with the work of Concrete Media. They have helped effectively promote our brand and consistently deliver high-quality results. We appreciate their hard work and dedication and would definitely recommend their services.',
		logo: aporia,
		name: 'Liran Paul Hason',
		title: 'CEO of Aporia'
	},
	{
		text: 'We view Concrete Media as more than partners, they are an integral part of our team. We lean on their wisdom and creativity as they deliver high-level result after result.',
		logo: runai,
		name: 'Dr. Ronen Dar',
		title: 'CTO and co-founder of Run:ai'
	},
	{
		text: 'Doing PR for a quantum computing company requires deep technical knowledge that few public relations agencies have. Concrete Media has impressed me with their expertise and ability to communicate deep tech to a broad audience.',
		logo: qm,
		name: 'Yoel Knoll',
		title: 'VP of Marketing at Quantum Machines'
	},
	{
		text: 'Concrete is a tech PR agency that exceeds expectations and delivers real, measurable value. We were deeply impressed with the initial results around our launch. But perhaps even more impressive is the continuous stories Concrete keeps arranging month after month.',
		logo: pinecone,
		name: 'Lior Ehrenfeld',
		title: 'VP of Finance and Ops at Pinecone'
	}
];

---

<section class="testimonials" id="testimonials">
    <h3>What our clients say</h3>
    <div>
        {testimonials.map(t => <TestimonialCard {...t} />)}
    </div>
</section>

<style>
	
    #testimonials {
		flex-direction: column;
		padding-top: 0;
	}

	#testimonials > div {
		gap: 32px;
		width: 100vw;
		overflow-x: hidden;
		display: flex;
		padding: 36px 112px;
		align-items: center;
	}

	#testimonials h3 {
		margin: 0;
	}

</style>