---
import TestimonialCard from "./TestimonialCard.astro";
import buildots from '../assets/client-logos/Buildots.webp';
import qm from '../assets/client-logos/QM.png';
import runai from '../assets/client-logos/Runai.svg';
import aporia from '../assets/client-logos/Aporia.svg';
import pinecone from '../assets/client-logos/Pinecone.svg';
import wilco from '../assets/client-logos/Wilco.png';

const testimonials = [
	{
		text: 'Concrete is out there, finding media opportunities and delivering results that bring real value to us as a company. They take the initiative so we can focus our efforts elsewhere, knowing our PR is being managed at the highest level.',
		logo: buildots,
		name: 'Aviv Leibovici',
		title: 'Co-founder & CPO of Buildots'
	},
    {
		text: 'Concrete Media is one of the rare tech PR agencies that can deliver impactful results and provide tangible value on a continuous basis. The team’s strong knowledge of the space allows them to provide great ROI for us on public relations for developers.',
		logo: wilco,
		name: 'Natasha Shine-Zirkel',
		title: 'Chief Business Officer of Wilco'
	},
	{
		text: 'We view Concrete Media as more than partners, they are an integral part of our team. We lean on their wisdom and creativity as they deliver high-level result after result.',
		logo: runai,
		name: 'Dr. Ronen Dar',
		title: 'CTO and co-founder of Run:ai'
	},
	{
		text: 'Doing PR for a quantum computing company requires deep technical knowledge that few public relations agencies have. Concrete Media has impressed me with their expertise and ability to communicate deep tech to a broad audience.',
		logo: qm,
		name: 'Yoel Knoll',
		title: 'VP of Marketing at Quantum Machines'
	},
	{
		text: 'Concrete is a tech PR agency that exceeds expectations and delivers real, measurable value. We were deeply impressed with the initial results around our launch. But perhaps even more impressive is the continuous stories Concrete keeps arranging month after month.',
		logo: pinecone,
		name: 'Lior Ehrenfeld',
		title: 'VP of Finance and Ops at Pinecone'
	},
    {
		text: 'We\'ve been very pleased with the work of Concrete Media. They have helped effectively promote our brand and consistently deliver high-quality results. We appreciate their hard work and dedication and would definitely recommend their services.',
		logo: aporia,
		name: 'Liran Paul Hason',
		title: 'CEO and co-founder of Aporia'
	}
];

---

<section class="testimonials" id="testimonials">
    <h3>What our clients say</h3>
    <div class="cards-wrapper">
        {testimonials.map(t => <TestimonialCard {...t} />)}
    </div>
    <nav>
        {testimonials.map((_, i) => <div class:list={["dot", {active: i == 0}]} ><div class="inner-dot"/></div>)}
    </nav>
</section>

<script>
    const buttons = document.querySelectorAll<HTMLElement>('.dot');

    buttons.forEach((button, i) => {
        button.addEventListener('click', () => {
            const container: HTMLElement = document.querySelector('.cards-wrapper');
            const containerWidth = container.clientWidth;
            container.scrollTo({behavior: 'smooth', left: (containerWidth + 32) * i});
            buttons.forEach((b, j) => {
                if (i == j) {
                    b.classList.add('active');
                } else {
                    b.classList.remove('active');
                }
                
            });
        });
    });
</script>

<style>
	
    #testimonials {
		flex-direction: column;
		padding-top: 0;
	}

	#testimonials > div {
		gap: 32px;
		width: 1216px;
		overflow-x: hidden;
		display: flex;
		margin: 36px 112px;
		align-items: center;
	}

	#testimonials h3 {
		margin: 0;
	}

    nav {
        display: flex;
    }

    .dot {
        cursor: pointer;
        padding: 6px;
    }

    .inner-dot {
        height: 12px;
        width: 12px;
        background: rgba(71, 85, 105, 0.3);
        border-radius: 50%;
        cursor: pointer;
    }

    .dot.active .inner-dot {
        background: #7022FB;
    }

    @media screen and (min-width: 1271px) {
        .dot:nth-of-type(n+3) {
            display: none;
        }
	}

    @media screen and (max-width: 1270px) {
        #testimonials > div {
            width: 800px;
        }
	}

    @media screen and (max-width: 832px) {
        #testimonials > div {
            width: 384px;
        }
	}

    @media screen and (min-width: 833px) {
        .dot:nth-of-type(n+4) {
            display: none;
        }
	}

    @media screen and (max-width: 400px) {
		#testimonials > div {
			width: calc(100vw - 16px);
		}
	}
</style>